<section>
<div class="content">
  <h3>Contact us</h3>
  <h4>Have questions? Lets connect.</h4>
</div>

<div class="container">
  <!-- <div class="cont1">
    <label for="email">Email</label>
    <input type="email" placeholder="Enter your email">
    <label for="subject">Subject</label>
    <select id="subject" name="subject" >
      <option value="improve">Improvements</option>
      <option value="error">Bugs</option>
      <option value="fault">Accuracy</option>
      <option value="others">others</option>
    </select>
    <label for="message">Message</label>
    <textarea rows="3" placeholder="Enter your message"></textarea>
    <button type="submit">Send a message</button>
  </div> -->

<form (ngSubmit)="submitComplaint()" #f="ngForm" class="cont1">
  <label for="email">Email</label>
  <input id="email" type="email" name="email" [(ngModel)]="form.email" placeholder="Enter your email" required />

  <label for="subject">Subject</label>
  <select id="subject" name="subject" [(ngModel)]="form.subject" required>
    <option value="improve">Improvements</option>
    <option value="error">Bugs</option>
    <option value="fault">Accuracy</option>
    <option value="others">Others</option>
  </select>

  <label for="message">Message</label>
  <textarea id="message" name="message" rows="3" [(ngModel)]="form.message" placeholder="Enter your message" required></textarea>

  <button type="submit" [disabled]="f.invalid">Send a message</button>
</form>





  <div class="cont2">
    <div class="box1">
       <h3>Email</h3>
   <h4>WeaponAI420&#64;gmail.com</h4>
  </div>
  
  <div class="box2">
    <h3>Connect with us</h3>
    <a href="https://github.com/sahilsk24">
   
    <img src="assets/github-mark-white.png" target="_blank">
    </a>
    <a href="">

    <img src="assets/InBug-White.png" target="_blank">
    </a>
  </div>

  </div>
</div>
</section>
